.partners-title{
    color: #e04f67;
}

.partners-title span{
    color: #262339;
}

.img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.partners:hover .img-top{
    display: inline;
    transition: all .3s linear;
    transition-delay: .2s;
}
